<div class="container">
    <header class="text-center">
        <h1 class=" masthead-brand">Chart the Stock Market</h1>
        <h3 class="text-muted">freeCodeCamp <i class="fa fa-free-code-camp"></i></h3>
    </header>
    <div class="container">
        <app-chart></app-chart>
        <app-search></app-search>
    </div>
    <footer class="footer row">
        <div class="col-md-8">
            <p>&copy; 2017 <a href="https://www.freecodecamp.org/miguelsmendoza" target="_blank">Miguel S. Mendoza</a> - <a href="https://www.freecodecamp.org/challenges/chart-the-stock-market" target="_blank">freeCodeCamp <i class="fa fa-free-code-camp"></i></a>
            </p>
        </div>
        <div class="col-md-4">
            <p><a href="https://github.com/MiguelSMendoza/stock-market" target="_blank">Source <i class="fa fa-github"></i></a>.</p>
        </div>
    </footer>
</div>