<ng-template #rt let-r="result" let-t="term">
    {{ r.symbol }} {{r.name}} ({{r.exchDisp}})
</ng-template>
<div class="form-group">
    <label for="typeahead-http">Search for a stock symbol:</label>
    <input id="typeahead-http" type="text" class="form-control" [class.is-invalid]="searchFailed" [(ngModel)]="model" [ngbTypeahead]="search" placeholder="Stock Search" (selectItem)="selectedItem($event)" [resultTemplate]="rt" [inputFormatter]="formatter"
    />
    <span *ngIf="searching">Searching...</span>
    <div class="invalid-feedback" *ngIf="searchFailed">Sorry, suggestions could not be loaded.</div>
</div>